@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces
@{
    ViewData["Title"] = "Communes";
}

@inject IDepartementRepository DepartementRepository;
@model IEnumerable<Commune>

<div class="row">
    <div class="col-md-12">
        <h1>Communes <small>/Commune/Index</small></h1>
    </div>
</div>
<div class="row">
    <a class="btn btn-default" 
        asp-controller="Commune" asp-action="Detail">Ajouter une commune...</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Département</th>
                <th>Numéro</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var commune in Model)
            {
            <tr>
                <td>@commune.Id</td>
                <td>@commune.Nom</td>
                <td>@DepartementRepository.GetDepartementById(commune.DepartementId).Nom</td>
                <td>@DepartementRepository.GetDepartementById(commune.DepartementId).Numero</td>
                <td>@commune.Longitude</td>
                <td>@commune.Latitude</td>
                <td>
                    <a class="btn btn-default" asp-controller="Commune" asp-action="Detail" asp-route-id="@commune.Id">Editer</a>
                    &nbsp;
                    <a class="btn btn-danger" asp-controller="Commune" asp-action="Delete" asp-route-id="@commune.Id">Supprimer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>